.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.item{
    background-color: royalblue;
    border: solid white 2px;
}

h1{
    width: min-content;
}