* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	width: 100vw;
	background: #18191f;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	width: 100vw;
}
#twitter,
#github {
	font-size: 4em;
	background-color: #18191f;
	color: #fff;
	box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
		2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
		inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
		inset 2px 2px 10px #00000080;
	border-radius: 0.2em;
	padding: 0.2em 0.3em;
	margin: 0 0.3em;
}
#twitter {
	padding: 0.2em 0.25em;
	animation-delay: 0.5s;
}
#github {
	animation-delay: 0.1s;
}

@keyframes animate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}

#github:hover,
#twitter:hover {
	/* outline: rgba(243, 243, 252, 70%) 0.05em solid; */
	animation: animate 3s linear infinite;
	text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
		0 0 200px #0072ff;
	box-shadow: 2px 2px 2px #8f8d8d80, 10px 1px 12px #8f8d8d80,
		2px 2px 10px #8f8d8d80, 2px 2px 3px #8f8d8d80, inset 2px 2px 10px #8f8d8d80,
		inset 2px 2px 10px #8f8d8d80, inset 2px 2px 10px #8f8d8d80,
		inset 2px 2px 10px #8f8d8d80;
}
