/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
	margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
	height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
 */

 body{
    font-family: 'Roboto', sans-serif;
    font-size: calc(21 / 16 * 1rem);
    line-height: 1.6;
    color: hsl(168, 13%, 15%);
 }

 img{
    max-width: 100%;
 }

 h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-block-start: 0;
 }

 section {
    padding: 4em 0;
 }

 .container {
    width: 85%;
    margin: 0 auto;
    max-width: 1128px;
 }

 .section-title {
    font-size: calc(34 / 16 * 1rem);
    color: hsl(48, 52%, 90%);
    margin-block-end: 1em;
 }

 .section-title--dark {
    color: hsl(15, 41%, 36%);
    text-align: center;
 }

 .intro {
    background: hsl(48, 52%, 90%);
    padding: 200px 0;
    text-align: center;
    color: hsl(15, 41%, 36%);

    min-height: 660px;
    display: flex;
    align-items: center;
 }

 .intro__text {
    text-transform: uppercase;
    font-size: calc(18 / 16 * 1rem);
    letter-spacing: 10px;
    color: hsl(168, 13%, 15%);
    margin: 0 0 .25em;
 }

 .intro__title {
    font-size: calc(50 / 16 * 1rem);
 }

 .section-three {
    background-color: hsl(168, 13%, 15%);
    color: hsl(0, 0%, 100%);
    position: relative;
 }

 .section-three p {
    margin-block-end: 2em;
 }

 .section-three img {
    margin: 0 auto 2em;
}

 .section-four {
    background-color: hsl(15, 41%, 36%);
    color: hsl(0, 0%, 100%);
    position: relative;
 }

 .section-four img {
    margin-block-end: 2em;
    margin: 0 auto 2em;
 }

 @media (min-width: 850px) {
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-inline-start: 3em;
    }

    .intro__title {
        font-size: calc(60 / 16 * 1rem);
    }
 }