html,
body {
	height: 100%;
}

body {
	background-color: rgb(51, 51, 56);
	color: white;
	font-family: poppins;
	font-size: 3rem;
	font-weight: 500;
}

.wrapper {
	display: grid;
	place-content: center;
	min-height: 100%;
}

.iMac-wrapper {
	perspective: 750px;
	cursor: pointer;
}

.iMac {
	position: relative;
	height: 400px;
	width: 600px;
	background-image: linear-gradient(
		90deg,
		hsl(240deg 2% 90%) 0%,
		hsl(240deg 4% 89%) 17%,
		hsl(240deg 5% 88%) 25%,
		hsl(240deg 6% 86%) 31%,
		hsl(240deg 6% 85%) 37%,
		hsl(231deg 8% 83%) 42%,
		hsl(233deg 9% 82%) 47%,
		hsl(228deg 1% 80%) 53%,
		hsl(224deg 1% 74%) 58%,
		hsl(223deg 2% 68%) 63%,
		hsl(224deg 2% 66%) 69%,
		hsl(220deg 4% 65%) 75%,
		hsl(219deg 5% 63%) 83%,
		hsl(217deg 6% 62%) 100%
	);
	border-radius: 4px;
	transform: rotateY(0deg);
	transition: transform 600ms ease-in-out;
	transform-style: preserve-3d;
	border-left: 5px solid hsl(217deg 6% 72%);
}

svg {
	position: absolute;
	width: 25px;
	left: 50%;
	right: 50%;
	bottom: 20px;
}

.screen {
	display: grid;
	grid-template-areas:
		'header header header'
		'main main sidebar'
		'main main sidebar';
	grid-template-rows: 25% 1fr;
	grid-template-columns: 1fr 2fr 1fr;
	perspective: 750px;
	gap: 5px;
	position: absolute;
	border: 4px solid transparent;
	inset: 10px 10px 60px 10px;
	background-color: hsl(0, 2%, 10%);
	transform: translate3D(0px, 0, 0px);
	border-radius: 3px 3px 0px 0px;
	transition: transform 600ms ease-in-out, border 600ms ease-in-out;
	transform-style: inherit;
}

.item {
	border: 4px solid;
	transform: translate3D(0px, 0, 0px);
	transform-style: inherit;
	background-color: hsl(0, 2%, 10%);
	border-radius: 2px;
	display: grid;
	place-content: center;
	color: transparent;
}

.item.one {
	grid-area: header;
	border-color: hsl(113, 85%, 74%);
	transition: transform 800ms ease-in-out, background-color 1000ms ease-in-out,
		color 1000ms ease-in-out;
}

.item.two {
	grid-area: main;
	border-color: hsl(343, 100%, 50%);
	transition: transform 1200ms ease-in-out, background-color 1500ms ease-in-out,
		color 2000ms ease-in-out;
}

.item.three {
	grid-area: sidebar;
	border-color: hsl(240, 100%, 69%);
	transition: transform 1500ms ease-in-out, background-color 2000ms ease-in-out,
		color 2500ms ease-in-out;
}

.iMac-wrapper:hover .iMac {
	transform: rotateY(40deg);
}

.iMac-wrapper:hover .screen {
	transform: translate3D(30px, -10px, 100px);
	border-color: white;
}

.iMac-wrapper:hover .item.one {
	transform: translate3D(60px, -10px, 40px);
	background-color: hsl(113, 85%, 74%);
	color: hsl(240, 5%, 21%);
}

.iMac-wrapper:hover .item.two {
	transform: translate3D(0px, 30px, 60px);
	background-color: hsl(343, 100%, 50%);
	color: hsl(240, 5%, 21%);
}

.iMac-wrapper:hover .item.three {
	transform: translate3D(30px, -20px, 90px);
	background-color: hsl(240, 100%, 69%);
	color: hsl(240, 5%, 21%);
}



/* 3D Transformed Avatar Component */
  html, body {
  height: 100%;
}

body {
  background-color: hsl(210deg 15% 6%);
  display: grid;
  place-content: center;
}
.card {
  width: min-content;
  background: white;
  text-align: center;
}
.avatar {
  display: block;
  width: 450px;
}
.card p {
  padding: 4px;
}
  
  .card-wrapper {
    min-height: 100%;
    display: grid;
    place-content: center;
    perspective: 750px;
	cursor: pointer;
	color: black;
	width: min-content;
	border: solid 1px red;
  }
  
  .card {
    position: relative;
    transform: rotateY(0deg);
	transition: transform 600ms ease-in-out;
	transform-style: preserve-3d;
    perspective: 750px;
    transform: translate3D(0px, 0, 0px);
    transition: transform 600ms ease-in-out;
	transform-style: inherit;

    --padding: 8px;
    --inner-radius: 16px;
    border-radius: calc(var(--inner-radius) + var(--padding));
    padding: var(--padding);
  }
  
  .avatar {
	transform: translate3D(0px, 0, 0px);
	transform-style: inherit;
     border-radius: var(--inner-radius) var(--inner-radius) 16px 16px;
    transition: transform 800ms ease-in-out;
  }

  .card-wrapper:hover .card {
	transform: rotateY(40deg);
}

    .card-wrapper:hover .avatar {
	transform: translate3D(60px, -10px, 200px) rotateY(-2deg);
}

  h2 {
    margin-top: 16px;
  }

  p {
    margin-bottom: 16px;
  }

