body {
    background-color: hsl(0, 0%, 16%);
    color: rgb(234, 234, 234);
    font-family: "Poppins";
}

h1{
    -webkit-text-stroke: 2px rgb(223, 221, 221);
    color: transparent;
    font-size: 3rem;
    filter: drop-shadow(2px 4px 4px hsl(0, 0%, 0%));
}

.long-p{
    max-width: 50ch;
    line-height: 1.5;
}

.highlight {
    background-color: hsla(51, 100%, 68%, 0.781);
    color: hsl(0, 0%, 16%);
    /* margin-top: 4px; */
    padding: 6px;
    line-height: 2;
    box-decoration-break: clone;
}