/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
	margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
	height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}


/*
h1{
    font-size: 2rem;
    background-color: hsl(208, 97%, 73%);
    width: fit-content;
    padding: 20px;
    border-radius: 16px;
    font-family: "Poppins";
    transition: ease-in-out 500ms;
}

h1:hover{
    color: hsl(208, 97%, 73%);
    background-color: black;
}

@media (max-width: 800px){
    h1{
        color: orangered;
        background-color: black;
    }
}

/* scroll snapping at center of element on horizontal scroll*/
/*
.wrapper {
    /* wrapper / section*/
    /*
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.card {
    /* image/article within wrapper */
    /*
    scroll-snap-align: center;
}

/* clamp */
/*

.clamped-img {
    width: clamp(500px, 60%, 800px);
    /* min, ideal, max width */
    /*
}

.randomPic {
    filter: grayscale(100%) blur(1rem);
    transition: ease-in-out 500ms;
}

.randomPic:hover {
    filter: grayscale(0%) blur(0);
}
*/

body {
    background-color: black;
    color: hsla(0, 0%, 90%, 1);
    font-family: "Poppins";
    line-height: 2;
    font-weight: 500;
}

.wrapper {
    --gap: 16px;
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    overflow: hidden;
}

.wrapper > * {
    grid-column: 2;
    padding: var(--gap);
}

.full-bleed {
    grid-column: 1 / -1;
    margin-inline-start: calc(var(--gap) * -1);
    margin-inline-end: calc(var(--gap) * -1);
    overflow: hidden;
    height: 333px;
}

.random-pic {
    display: block;
    object-fit: cover;
    width: 100%;
    /* width: calc(100% / 7); 1/7 of the space */
    opacity: .7;
    transform: scale(1);
    transition: opacity 1300ms ease-in-out, transform 1400ms ease-in-out;
}

.random-pic:hover {
    opacity: 1;
    transform: scale(1.8);
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
    color: rgb(187, 187, 187);
}

.space{
    display: inline-block;
    transform: scale(1);
    color: rgb(187, 187, 187);
    opacity: .7;
    transition: opacity 400ms ease-in-out, color 400ms ease-in-out,
    transform 500ms ease-in-out;
}

p:hover .space{
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: scale(1.1);
}