header {
	position: fixed;
	z-index: 2;
}
.pricing {
	/*
      Try removing me, and then
      scroll the page.
    */
	isolation: isolate;
}
.card {
	position: relative;
	z-index: 1;
}
.primary.card {
	z-index: 2;
	margin: -32px -16px;
}

/* Decorative styles */
body {
	padding: 128px 16px;
	min-height: 150vh;
	background: hsl(260deg 20% 20%);
	font-family: sans-serif;
}

header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 1rem;
	background: hsl(260deg 20% 30%);
	color: white;
}
.card {
	flex: 1;
	max-width: 300px;
	padding: 16px 32px;
	border-radius: 8px;
	background: white;
	box-shadow: 0px 2px 16px hsl(260deg 50% 20% / 0.7);
}
.primary.card {
	flex: 1.25;
	max-width: 350px;
}
.card h2 {
	font-size: 1rem;
	font-weight: 500;
	color: hsl(0deg 0% 40%);
}
.price {
	font-size: 2rem;
	font-weight: 700;
}
.card button {
	width: 100%;
	/* height: 3rem; */
}

.pricing {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.btn-animation {
	min-width: 130px;
	height: 40px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	z-index: 0;
	background: #fff;
	overflow: hidden;
	border: 5px solid hsl(260deg 20% 30%);
	color: hsl(260deg 20% 30%);
}
.btn-animation:hover {
	color: #fff;
}
.btn-animation:hover:after {
	height: 100%;
}
.btn-animation:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background: hsl(260deg 20% 30%);
}

/* div {
	will-change: transform;
} */

.help-btn {
	position: fixed;
	right: 32px;
	bottom: 32px;

	width: 75px;
	height: 75px;
	line-height: 44px;
	border-radius: 50%;
	background: hsl(345deg 100% 40%);
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	border: 3px solid white;
	box-shadow: 2px 2px 20px hsl(248deg 80% 40% / 0.33);
	cursor: pointer;
}
