html {
	--full-width: calc(100vw - var(--scrollbar-width) px);
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: var(--full-width);
	height: calc(100vh + 30px);

	/* Decorative styles */
	border: 10px solid deeppink;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}
