/* Make our button press in when we click on it */
/* 
.pushable {
	background: hsl(340deg 100% 32%);
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
}
.front {
	display: block;
	padding: 12px 42px;
	border-radius: 12px;
	font-size: 1.25rem;
	background: hsl(345deg 100% 47%);
	color: white;
	transform: translateY(-6px);
}

.pushable:active .front {
	transform: translateY(-2px);
}

/* Make our button "rise up" to meet our cursor */

/* .front {
	will-change: transform;
	transition: transform 250ms;
}

.pushable:hover .front {
	transform: translateY(-6px);
}

.pushable:active .front {
	transform: translateY(-2px);
} */

/* .front {
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover .front {
	transform: translateY(-6px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
	transform: translateY(-2px);
	transition: transform 34ms;
} */
.pushable {
	position: relative;
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: hsl(0deg 0% 0% / 0.25);
	transform: translateY(2px);
}
.edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: hsl(340deg 100% 32%);
}
.front {
	display: block;
	position: relative;
	padding: 12px 42px;
	border-radius: 12px;
	font-size: 1.25rem;
	color: white;
	background: hsl(345deg 100% 47%);
	transform: translateY(-4px);
}

.pushable:hover .front {
	transform: translateY(-6px);
}
.pushable:hover .shadow {
	transform: translateY(4px);
}
.pushable:active .front {
	transform: translateY(-2px);
}
.pushable:active .shadow {
	transform: translateY(1px);
}

.pushable:focus:not(:focus-visible) {
	outline: none;
}
