body {
    --pink-hue: 320deg;
    --intense: 100% 50%;

    --primary-color: hsl(var(--pink-hue) var(--intense));
}

button {
    background-color: var(--primary-color);
}

.img-parent {
    overflow: auto;
    scroll-snap-type: x mandatory;
}

img {
    scroll-snap-align: center;
}

/* Set font size of 24px but convert to rem with calc */

body{
    font-size: calc(24/16 * 1rem);
}

.box{
    width: 400px;
    height: 400px;
    border: solid 4px red;
    padding: min(64px, 4vw);
    background-color: black;
}

.another-box{
    width: 350px;
    height: 350px;
    border: solid 2px pink;
    background-color: white;
}